@import
	url("http://fonts.googleapis.com/css?family=Philosopher")
	;
	
@import
	url("http://fonts.googleapis.com/css?family=Ubuntu")
	;

#container{
	max-width: 1200px;
}


#buscador{
	width:60%;
	margin-left:250px;
	font-family: 'Philosopher', sans-serif;
}

#fila2{
	background-color:#91B1DB;
	padding:20px;
}

#celda1{
	background-color:#353C63;
	font-size:18px;
	padding:5px;
	color: white;
	text-align:center;
}

input, select{
	border-radius: 5px;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
	margin-left: 5px;
}

#celda2{
	padding:10px;
	font-size:17px;
}

.buscarProd {
	margin-right: 20px;
	margin-left:10px;
	width:300px;
	height:23px;
	border-radius: 4px;
	border: solid 1px;
	font-size: 17px;
}
	
#buscar{
	font-size:17px;
	margin-left:80px;
	margin-bottom:10px;
}

#avanzada{
	background-color:#91B1DB;
	font-size:17px;
}

.avanzada{
	margin-left: 20px;
	color: white;
}

#busqueda_avanzada{
	background-color:#91B1DB;
}
#buscador_avanzado {
	display: none;
}
#filtrado{
	margin-top: 20px;
	margin-bottom: 20px;
	list-style: none;
}

#filtrado li{
	padding: 10px;
}

.fav{ /*Div de los productos*/
	margin-left: 210px;
	margin-right: 180px;
	margin-bottom: 20px;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	padding:6px;
	/*	border: 2px dashed navy;*/
	background-color: #A9D0F5; 
}
	
.tituloFav{
	margin-left: -10px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bolder;
	font-size:20px;
	color: #0B0B61;
	padding: 8px;
}

.imagenesProductos{
	float: right;
	width:150px;
	height:150px;
	margin-top: -175px;
}

.fav p{
	font-size: 15px;
	font-style: bold;
}