@import
	url("http://fonts.googleapis.com/css?family=Philosopher")
	;

#tablaGestion{
	font-family: 'Philosopher', sans-serif;
}

.table{
	
	font-weight: bold;	
	color: #353C63;
	font-size:18px;
}

div.table 
{
    display:table;
}
form.tr
{
    display:table-row;
}
span.td
{
    display:table-cell;
}
